.profile__container {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.profile__image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 0 100%;
    height: 250px;
    padding: 0 100px 15px 75px;
    align-items: center;
}

.profile__image-avatar {
    width: 200px !important;
    height: 200px !important;
}

.profile__subtitle {
    color: gray;
}

.profile__tabs-container {
}

.profile__tabs {

}